.App {
  text-align: center;
}
.product-card {
  margin: 1rem;
  padding: 1rem;
  border-bottom: 1px black solid;
}

.product-image {
  height: 200px;
  width: 200px;
}

.shopping-cart {
  display: grid;
  place-items: center;
}

.cart-item-card {
  border-bottom: 1px black solid;
  padding: 1rem;
  margin: 1rem;
}

.cart-image {
  height: 200px;
  width: 200px;
}

.single-product-image {
  height: 200px;
  width: 200px;
}
